# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\admin\Desktop\zookeeper学习\资料-3天全面深入学习zookeeper\day03\代码\CuratorAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
